<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Blog Site</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <header>
    <h1>Welcome to the Blog</h1>
  </header>
  <main class="container">
    {{{body}}}
  </main>
  <footer>
    <p>Blog Site © 2024</p>
  </footer>
</body>
</html>
